---
import BaseLayout from '@/layouts/BaseLayout.astro'
import WordPullUp from '@/components/magicui/word-pull-up'
import { Separator } from '@/components/ui/separator'
import Who from '@/components/Who.astro'
import { VelocityScroll } from '@/components/magicui/scroll-based-velocity'
import Services from '@/components/Services.astro'
import SineBackground from '@/components/SineBackground'
import Contact from '@/components/Contact.astro'
import ShimmerButton from '@/components/magicui/shimmer-button'
import Image from 'astro/components/Image.astro'
import About from '@/components/About.astro'

import { Content as Clients } from '@/clients.md'
---

<BaseLayout
  title="680Hz Studios"
  description="Production, Recording, Mixing and Mastering Studios in Berlin."
>
  <SineBackground className="animate-blur" client:only />
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex w-full flex-col items-center gap-4">
      <div class="flex h-[90vh] flex-col items-center justify-center gap-4">
        <Image
          src="/logo.svg"
          width={200}
          height={200}
          class="z-50 w-48 animate-blur"
          alt={'680Hz Studios, Production, Recording, Mixing and Mastering Studios in Berlin.'}
        />

        <WordPullUp
          client:load
          className="animate-blur text-4xl font-bold tracking-[-0.02em] text-black dark:text-white md:text-7xl md:leading-[5rem]"
          words="680 Hz Studios"
        />

        <p
          class="z-100 z-50 max-w-[700px] animate-blur text-center text-lg text-muted-foreground"
        >
          Production, Recording, Mixing and Mastering Studios in Berlin.
        </p>

        <a href="#about" class="animate-blur">
          <!-- <PulsatingButton pulseColor="#000000" className={buttonVariants()}
              >Explore Our Services</PulsatingButton
            > -->
          <ShimmerButton className="shadow-2xl" client:only="react">
            <span
              class="gap-x-2 py-0 text-center text-sm font-medium leading-none tracking-tight text-white dark:from-white dark:to-slate-900/10 lg:text-lg"
            >
              Discover More
            </span>
          </ShimmerButton>
        </a>
      </div>

      <Separator />
    </div>
  </section>

  <!-- ------------------- ABOUT -----------------  -->

  <div id="about"></div>

  <VelocityScroll
    text=" - About us "
    default_velocity={5}
    className="font-display text-center text-5xl font-bold tracking-[-0.02em] text-black drop-shadow-sm dark:text-white md:text-7xl md:leading-[5rem]"
    client:load
  />

  <About />

  <!-- ------------------- CLIENTS -----------------  -->

  <div id="clients"></div>

  <VelocityScroll
    text=" - Our clients "
    default_velocity={5}
    className="font-display text-center text-5xl font-bold tracking-[-0.02em] text-black drop-shadow-sm dark:text-white md:text-7xl md:leading-[5rem]"
    client:load
  />

  <section class="container my-12 grid items-center gap-6 sm:my-32">
    <div
      class="prose-a:text-black-600 sm:prose-h1:text-lext prose w-full pb-8 dark:prose-invert prose-h1:text-4xl prose-h1:font-semibold prose-p:text-left prose-p:text-xl prose-a:font-semibold prose-img:rounded-xl sm:prose-p:text-left"
    >
      <Clients />
    </div>
  </section>

  <!-- ------------------- SERVICES -----------------  -->

  <div id="services"></div>

  <VelocityScroll
    text=" - Our services "
    default_velocity={5}
    className="font-display text-center text-5xl font-bold tracking-[-0.02em] text-black drop-shadow-sm dark:text-white md:text-7xl md:leading-[5rem]"
    client:load
  />

  <section class="container my-12 grid items-center gap-6 sm:my-32">
    <Services />
  </section>

  <!-- ------------------- TEAM -----------------  -->

  <div id="who"></div>

  <VelocityScroll
    text=" - Who are we? "
    default_velocity={5}
    className="font-display text-center text-5xl font-bold tracking-[-0.02em] text-black drop-shadow-sm dark:text-white md:text-7xl md:leading-[5rem]"
    client:load
  />

  <section class="container my-12 grid items-center gap-6 sm:my-32">
    <Who />
  </section>

  <!-- ------------------- CONTACT US -----------------  -->

  <div id="contact"></div>

  <section
    class="container my-16 grid w-full items-center gap-6 text-center sm:my-32"
  >
    <Separator />
    <h1
      class="text-4xl font-bold tracking-[-0.02em] text-black dark:text-white md:text-7xl md:leading-[5rem]"
    >
      Contact Us
    </h1>
    <Contact />
  </section>
</BaseLayout>
