---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'
import WordPullUp from '@/components/magicui/word-pull-up'
import { Separator } from '@/components/ui/separator'
import ClientsChart from '@/components/clientschart'
import Who from '@/components/Who.astro'
import { VelocityScroll } from '@/components/magicui/scroll-based-velocity'
import { motion } from 'framer-motion'
import BlurFade from '@/components/magicui/blur-fade'
import PulsatingButton from '@/components/magicui/pulsating-button'
import Services from '@/components/Services'
import SineBackground from '@/components/SineBackground'
---

<BaseLayout
  title="680Hz Studios"
  description="Production, Recording, Mixing and Mastering Studios in Berlin."
>
  <SineBackground client:only />
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex w-full flex-col items-center gap-4">
      <div class="flex h-[90vh] flex-col items-center justify-center gap-4">
        <WordPullUp
          client:load
          className="text-4xl font-bold tracking-[-0.02em] text-black dark:text-white md:text-7xl md:leading-[5rem]"
          words="680 Hz Studios"
        />

        <BlurFade delay={0.25 * 0.05} inView client:load>
          <p class="max-w-[700px] text-center text-lg text-muted-foreground">
            Production, Recording, Mixing and Mastering Studios in Berlin.
          </p>
        </BlurFade>

        <BlurFade delay={0.25 * 0.05} inView client:load>
          <a href="#services">
            <PulsatingButton pulseColor="#000000" className={buttonVariants()}
              >Explore Our Services</PulsatingButton
            >
          </a>
        </BlurFade>
      </div>

      <Separator />
    </div>
  </section>

  <!-- ------------------- SERVICES -----------------  -->

  <div id="services"></div>

  <VelocityScroll
    text=" - Our services "
    default_velocity={5}
    className="font-display text-center text-5xl font-bold tracking-[-0.02em] text-black drop-shadow-sm dark:text-white md:text-7xl md:leading-[5rem]"
    client:load
  />

  <section class="container my-16 grid items-center gap-6 pb-8 pt-8 md:py-32">
    <Services client:load />
  </section>

  <!-- ------------------- TEAM -----------------  -->

  <div id="who"></div>

  <VelocityScroll
    text=" - Who are we? "
    default_velocity={5}
    className="font-display text-center text-5xl font-bold tracking-[-0.02em] text-black drop-shadow-sm dark:text-white md:text-7xl md:leading-[5rem]"
    client:load
  />

  <section class="container my-16 grid items-center gap-6 pb-8 pt-8 md:py-10">
    <Who />
  </section>

  <!-- ------------------- ABOUT -----------------  -->

  <div id="about"></div>

  <VelocityScroll
    text=" - About us "
    default_velocity={5}
    className="font-display text-center text-5xl font-bold tracking-[-0.02em] text-black drop-shadow-sm dark:text-white md:text-7xl md:leading-[5rem]"
    client:load
  />

  <!-- ------------------- CONTACT US -----------------  -->

  <div id="contact"></div>

  <section
    class="container my-16 mt-32 grid items-center gap-6 pb-8 pt-8 md:py-10"
  >
    <Separator />
    <div class="mt-32 flex w-full flex-col items-center gap-4">
      <h1
        class="text-4xl font-bold tracking-[-0.02em] text-black dark:text-white md:text-7xl md:leading-[5rem]"
      >
        Contact Us
      </h1>

      <p class="my-16 text-lg">
        Nesciunt ut iste numquam dolores. Et error dolor et dolor et ut. A
        dolore est est cupiditate ipsum id. Mollitia non officiis facilis
        consequuntur itaque. Quia non reiciendis quo omnis earum id. Vero amet
        illo dolor. Doloremque quidem mollitia assumenda pariatur expedita
        ducimus. Sunt qui et quasi est ab atque. Qui libero et asperiores in et
        dolor modi possimus. Beatae rerum aut deleniti quos. Sed deleniti
        reprehenderit libero dolorum vel magni minus. Quo aut beatae est earum
        veniam. Quia neque omnis quisquam nemo sed. Dignissimos repellat
        deserunt illum est aut ea dolorum modi. Dignissimos molestiae libero
        accusantium optio quia mollitia laudantium. Inventore rerum aut
        provident. Beatae dolores nostrum magnam qui incidunt. Occaecati
        exercitationem error eligendi nesciunt porro. Sed enim voluptatem sed
        quia. Et eaque quo est quis voluptatem neque. Molestiae qui voluptatum
        odit sit quas nihil vitae.
      </p>
    </div>
  </section>

  <!-- <section>
    <ClientsChart
      title="Our Clients"
      label="Our Clients"
      description="November 2022 - Now"
      footer="Trusting our professional audio services"
      chartData={[{ clients: 85, fill: 'var(--color-safari)' }]}
      client:load
    />

    <Separator />
  </section> -->
</BaseLayout>
