---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'
import WordPullUp from '@/components/magicui/word-pull-up'
import { Separator } from '@/components/ui/separator'
import ClientsChart from '@/components/clientschart'
import Who from '@/components/Who.astro'
import { VelocityScroll } from '@/components/magicui/scroll-based-velocity'
import { motion } from 'framer-motion'
import BlurFade from '@/components/magicui/blur-fade'
import PulsatingButton from '@/components/magicui/pulsating-button'
import Services from '@/components/Services'
---

<BaseLayout
  title="680Hz Studios"
  description="Production, Recording, Mixing and Mastering Studios in Berlin."
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex w-full flex-col items-center gap-4">
      <div class="flex h-[78vh] flex-col items-center justify-center gap-4">
        <WordPullUp
          client:load
          className="text-4xl font-bold tracking-[-0.02em] text-black dark:text-white md:text-7xl md:leading-[5rem]"
          words="680 Hz Studios"
        />

        <BlurFade delay={0.25 * 0.05} inView client:load>
          <p class="max-w-[700px] text-center text-lg text-muted-foreground">
            Production, Recording, Mixing and Mastering Studios in Berlin.
          </p>
        </BlurFade>

        <BlurFade delay={0.25 * 0.05} inView client:load>
          <a href="#services">
            <PulsatingButton pulseColor="#000000" className={buttonVariants()}
              >Explore Our Services</PulsatingButton
            >
          </a>
        </BlurFade>
      </div>

      <Separator />
    </div>
  </section>

  <!-- ------------------- SERVICES -----------------  -->

  <div id="services"></div>

  <VelocityScroll
    text=" - Our services "
    default_velocity={5}
    className="font-display text-center text-5xl font-bold tracking-[-0.02em] text-black drop-shadow-sm dark:text-white md:text-7xl md:leading-[5rem]"
    client:load
  />

  <section class="container my-16 grid items-center gap-6 pb-8 pt-8 md:py-32">
    <BlurFade delay={0.25 * 0.05} inView client:load>
      <Services />
    </BlurFade>
  </section>

  <!-- ------------------- TEAM -----------------  -->

  <div id="who"></div>

  <VelocityScroll
    text=" - Who are we? "
    default_velocity={5}
    className="font-display text-center text-5xl font-bold tracking-[-0.02em] text-black drop-shadow-sm dark:text-white md:text-7xl md:leading-[5rem]"
    client:load
  />

  <section class="container my-16 grid items-center gap-6 pb-8 pt-8 md:py-10">
    <Who />
  </section>

  <!-- <section>
    <ClientsChart
      title="Our Clients"
      label="Our Clients"
      description="November 2022 - Now"
      footer="Trusting our professional audio services"
      chartData={[{ clients: 85, fill: 'var(--color-safari)' }]}
      client:load
    />

    <Separator />
  </section> -->
</BaseLayout>
