---
import ShimmerButton from './magicui/shimmer-button'
---

<div class="flex w-full flex-col items-center gap-4 py-8">
  <p class="my-16 text-center text-xl">
    If you wish to book a session with us, personalize a private masterclass,
    request a quote or simply have a chat with us, we are happy to organize an
    in-person or remote meeting with you as soon as possible. Please send us an
    e-mail at
  </p>

  <ShimmerButton className="shadow-2xl" client:only="react">
    <!-- <span
      class="gap-x-2 py-0 text-center text-sm font-medium leading-none tracking-tight text-white dark:from-white dark:to-slate-900/10 lg:text-lg"
    >
      Discover More
    </span> -->
    <h1 class="animate-blur text-2xl font-bold">
      info@<span class="hidden">aaa</span>680.studio
    </h1>
  </ShimmerButton>

  <p class="my-16 text-xl"></p>
</div>
