---
import type { NavBarItem } from '@/lib/navbar'
import MobileNav from '@/MobileNav'
import Image from 'astro/components/Image.astro'
import { Camera, FileAudio, Info, Mail, UsersRound } from 'lucide-react'
import { buttonVariants } from './ui/button'
import { cn } from '@/lib/utils'

const navBarItems: NavBarItem[] = [
  {
    label: 'About',
    href: '/#about',
    icon: Info,
  },
  {
    label: 'Services',
    href: '/#services',
    icon: FileAudio,
  },
  {
    label: 'Team',
    href: '/#who',
    icon: UsersRound,
  },
  {
    label: 'Masterclass Courses',
    href: '/masterclasses',
    className: 'font-bold',
    icon: UsersRound,
  },
  {
    label: 'Get in Touch',
    href: '/#contact',
    icon: Mail,
  },
  {
    label: 'Follow Us',
    href: 'https://instagram.com/680.studio',
    icon: Camera,
  },
]
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/90"
>
  <div
    class="flex h-16 items-center space-x-4 px-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-6 md:gap-10">
      <a href="/" class="flex items-center space-x-2">
        <Image
          src="/logo.svg"
          width={200}
          height={200}
          class="z-100 z-50 mx-4 w-8 animate-blur"
          alt={'680Hz Studios, Production, Recording, Mixing and Mastering Studios in Berlin.'}
        />
        <span class="inline-block animate-blur font-bold">680Hz Studios</span>
      </a>
    </div>
    <div class="flex flex-1 animate-blur items-center justify-end space-x-4">
      <div class="mr-4 hidden gap-2 md:flex">
        {
          navBarItems.map((i) => (
            <a
              href={i.href}
              rel="noreferrer"
              class={buttonVariants({ variant: 'ghost' })}
            >
              <span class={cn('text-base', i.className ?? '')}>{i.label}</span>
            </a>
          ))
        }
      </div>
      <MobileNav items={navBarItems} client:only="react" />
    </div>
  </div>
</header>
